body {
    background-color: #f0f0e4;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
    color: #333;
}

.container {
    width: 720px;
    margin: 0 auto;
    padding: 20px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
}

header {
    text-align: center; /* Center all titles in the header */
    margin-bottom: 2em;
}

header h1 {
    margin: 0;
    color: #7b3c3c;
    font-size: 3.0em; /* Tamaño de fuente mayor */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #7b3c3c;
}

section {
    padding: 2em 0;
    text-align: center; /* Center all titles in sections */
}

h2 {
    color: #7b3c3c;
    border-bottom: 2px solid #7b3c3c;
    padding-bottom: 0.5em;
    margin: 0 auto; /* Center titles horizontally */
    font-size: 2em;
}

.project {
    margin-bottom: 2em;
    width: 720px;
}

.project-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
}

.project-item {
    width: calc(20% - 10px);
    margin-bottom: 20px;
    text-align: center;
}

.contact-info {
    margin-top: 2em;
}

.contact-info p, .contact-info ul {
    margin: 0.5em 0;
}

.contact-info a {
    color: #333;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin-top: 1em;
}

input, textarea, button {
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 1em;
    padding: 0.5em;
}

button:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #7b3c3c;
    color: #fff;
    font-size: 0.9em;
}

.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline;
    margin: 0 5px;
}

.project h3 {
    display: flex;
    align-items: center; /* Aligns the items vertically */
}

.project h3 img {
    width: 1em; /* Set the width of the icon to match the font size of the title */
    height: 1em; /* Set the height of the icon to match the font size of the title */
    margin-right: 0.5em; /* Adds some space between the icon and the text */
}

.project-array {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.project-item img {
    width: 100px; /* Ensure images fill the width of their containers */
    height: 100px; /* Set height to match width */
    border-radius: 50%; /* Creates circular shape */
    margin-bottom: 10px; /* Add space between image and description */
    border: 2px solid #7b3c3c; /* Borde para destacar */
    transition: transform 0.3s; /* Animación al pasar el mouse */
}

.project-item img:hover {
    transform: scale(1.1); /* Efecto zoom al pasar el mouse */
}

.project-item p {
    margin: 0; /* Remove default margin for paragraphs */
    font-size: 0.9em;
}

/* Descripción de los proyectos */
.project-description {
    flex: 1;
    margin-left: 20px;
    text-align: left;
}

/* Secciones de Papers y Hobbies */
#papers, #hobbies {
    margin-top: 2em;
}

