/* Estilos globales */
body {
    background-color: #f0f0e4;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
    color: #333;
}

/* Contenedor principal */
.container {
    width: 720px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
}

/* Estilos del encabezado */
header {
    text-align: center;
    margin-bottom: 2em;
}

header h1 {
    margin: 0;
    color: #7b3c3c;
    font-size: 2.5em; /* Tamaño de fuente mayor */
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #7b3c3c;
}

/* Secciones */
section {
    padding: 2em 0;
    text-align: center;
}

h2 {
    color: #7b3c3c;
    border-bottom: 2px solid #7b3c3c;
    padding-bottom: 0.5em;
    font-size: 2em;
}

/* Proyectos */
.project {
    margin-bottom: 2em;
}

.project-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
}

.project-item {
    width: calc(20% - 10px);
    margin-bottom: 20px;
    text-align: center;
}

.project-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #7b3c3c; /* Borde para destacar */
    transition: transform 0.3s; /* Animación al pasar el mouse */
}

.project-item img:hover {
    transform: scale(1.1); /* Efecto zoom al pasar el mouse */
}

.project-item p {
    margin: 0;
    font-size: 0.9em;
}

/* Descripción de los proyectos */
.project-description {
    flex: 1;
    margin-left: 20px;
    text-align: left;
}

/* Secciones de Papers y Hobbies */
#papers, #hobbies {
    margin-top: 2em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #7b3c3c;
    color: #fff;
    font-size: 0.9em;
}

.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline;
    margin: 0 5px;
}

/* Estilo para los títulos de los proyectos */
.project h3 {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido del h3 */
    justify-content: center; /* Centra horizontalmente el contenido del h3 */
    font-size: 1.5em; /* Ajusta el tamaño de la fuente para los títulos */
}

/* Estilo para los iconos dentro de los títulos */
.project h3 img {
    width: 30px; /* Fija el ancho del icono */
    height: 30px; /* Fija la altura del icono */
    margin-right: 10px; /* Espacio entre el icono y el texto */
    vertical-align: middle; /* Alinea verticalmente los iconos con el texto */
}

